.header {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  line-height: 3em;
  z-index: 100;
  &.fixed {
    position: fixed;
    background-image: linear-gradient(90deg, $color-brand, $color-brand-alt);
  }
}
