.contact-form {
  padding: 2em;

  @media (min-width: $breakpoint-medium) {
    border-right: 1px solid lighten($color-contrast, 20);
  }

  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

}
