.contact-info {

  &__part {

    border-bottom: 1px solid lighten($color-contrast,20);
    padding: 1em 0 1em 4em;
    position: relative;
    word-wrap: break-word;//permet la cessure au niveau du mail pour passer à la ligne

    &:last-child {
      border: none;
    }

    h3 {
      color: lighten($color-contrast,50);
    }

    .fa {

      color: lighten($color-contrast,20);
      position: absolute;
      left: 1.5rem;
      top: 2rem;
      font-size: 1.3em;
    }
  }
}
