.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5em;
  background-color: lighten($color-contrast, 75);
  border: 1px solid lighten($color-contrast, 50);
  border-radius: 0.3em;

  &__item {

    position: relative;
    padding: 3em;
    color: $color-contrast;
    border-top: 1px solid lighten($color-contrast, 50);
    width: 100%;

    &:nth-child(1) {

      border-top: none;
    }

    &__icon {
      position: absolute;
      top: 1em;
      right: 1em;
      color: $color-text;
      background-color: $color-brand;
      width: 2.5em;
      height: 2.5em;
      line-height: 2.5em;
      text-align: center;
      border-radius: 8px;
    }

    @media (min-width: $breakpoint-medium) {

      & {

        width: 50%;

        &:nth-child(2n) {
          border-left: 1px solid lighten($color-contrast, 50);
        }

        &:nth-child(-n +2) {
          border-top: none;
        }

        &__icon {
          left: 1em;
        }

      }

    }
  }


}
