@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';

html {
  font-size: 14px;
}

body, input {
  font-family: 'Montserrat', $fallback-font-stack;
}

a {
  text-decoration: none;
  color: $text-color;
}
