.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__content {
    display: flex;
    align-items: center;
  }

  &__tools {
    display: flex;
    align-items: center;
  }
}
