$color-brand: #72BDF9;
$color-brand-alt: #8A7EF5;
$color-contrast: #2C334C;
$color-text: white;

$breakpoint-medium: 750px;
$breakpoint-large: 1200px;

$duration-slow: 0.8s;
$duration-normal: 0.5s;
$duration-fast: 0.3s;

$post-bg-colors: (
  1: #6fc3df,
  2: #8d82c4,
  3: #ec8d81,
  4: #e7b788,
  5: #8ea9e8,
  6: #87c5a4,
);
