.search {
  margin: 0 0.3em;

  &__form {
    display: flex;
    align-items: center;
  }

  &__field {
    width: 100px;
    background: none;
    border: none;
    padding: 0.4em 0.7em;
    outline: none;
  }
}
